@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour-orange: #ff4900;
  --colour-orange-hover: #ff733b;
  --colour-white: #ffffff;
  --colour-light-gray: #707070;
  --colour-dark-gray: #111111;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/font/AktivGrotesk/AktivGroteskCorp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/font/AktivGrotesk/AktivGroteskCorp-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/font/AktivGrotesk/AktivGroteskCorp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/font/AktivGrotesk/AktivGroteskCorp-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

*,
*::before,
*::after {
  transition: all 0.3s ease;
  box-sizing: border-box;
}


body {
  font-family: "Aktiv Grotesk";
  color: var(--colour-white);
  background: #000000;
}